.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  padding: 0 1rem;
}

.card {
  border: 1px solid #0000002d;
  border-radius: 0.5rem;
  overflow: hidden;
}

img {
  width: 100%;
  margin: 0;
}

.card-body {
  padding: 0 1rem 1rem 1rem;
}

h5 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

p {
  font-size: 1.05rem;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

a {
  margin: 0 1rem;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  color: #0d6efd;
  cursor: pointer;

  transition: all 0.2s;
}

a:hover {
  background-color: #0d6efd;
  border: 1px solid transparent;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
