<app-loading-screen *ngIf="isLoading">Borrando elemento...</app-loading-screen>

<section>
  <app-section-title
    number="4"
    title="Proyectos"
    id="projects"
  ></app-section-title>
  <app-add-btn *ngIf="editMode" [link]="getNewProjectModalURL()"
    >Add Project</app-add-btn
  >
  <div class="grid-container">
    <div *ngFor="let p of projects" class="card">
      <div *ngIf="editMode" class="admin-buttons">
        <app-edit-btn [link]="getUpdateModalURL(p.id)"></app-edit-btn>
        <app-delete-btn (click)="openDeleteModal(p)"></app-delete-btn>
      </div>
      <div class="img-container">
        <div class="technologies-display-container">
          <app-technologies-display
            [technologies]="p.technologies"
          ></app-technologies-display>
        </div>
        <img [src]="p.image_url" alt="" />
      </div>
      <div class="card-body">
        <h5>{{ p.title }}</h5>
        <p>
          {{ p.description }}
        </p>
        <p>
          <small>( {{ p.end_at | date : "MMM yyy" }} )</small>
        </p>
        <div class="buttons-container">
          <a [href]="p.project_url" role="button">Ver sitio Web</a>
          <a [href]="p.github_url" role="button">Ver codigo</a>
        </div>
      </div>
    </div>
  </div>
</section>
