<section>
  <h3 class="section-title">1 - About me</h3>
  <div class="container">
    <div class="aside-card">
      <img
        src="/assets/matias-netto-small.jpg"
        class="img-thumbnail rounded-circle img-me"
      />
      <h1 class="fs-3 text-center">Matias Netto</h1>
      <h2 class="fs-5 text-center">Full Stack Developer Jr</h2>
    </div>
    <div class="card">
      <p class="card__title">Bienvenido!</p>
      <p class="card__content">
        <span>
          Hola, mi nombre es Matias, soy desarrollador web Frontend
          especializado en React.js ⚛️, aunque con conocimientos de Backend con
          Node, Express, MongoDB, PostgreSQL y mas!
        </span>
        <span
          >Soy estudiante de licenciatura informatica en la Universidad nacional
          de Quilmes (UNQ) 🤓</span
        >
        <span
          >Apasionado por las nuevas tecnologias, con facilidad para trabajar en
          equipo y abierto a aprender del feedback de ellos 👨‍💻</span
        >
        <span>
          Ansioso por abordar innovadores proyectos con nuevos problemas que
          resolver 😁
        </span>
      </p>
    </div>
  </div>
</section>
