<section>
  <app-section-title number="4" title="Hard & Soft Skills"></app-section-title>
  <button *ngIf="editMode" (click)="openNewSkillsModal()" class="add-skill-btn">
    Add Skill
  </button>
  <div class="grid-container">
    <div *ngFor="let s of skills" class="card">
      <button *ngIf="editMode" (click)="openUpdateSkillsModal(s.id)">
        Edit
      </button>
      <button *ngIf="editMode" (click)="openDeleteModal(s)">Delete</button>
      <img [src]="s.image_url" alt="" class="rounded skills-img" />
      <h5 class="card__title">{{ s.technology }}</h5>
      <div class="progress">
        <div class="progress-bar" [ngStyle]="{ width: s.percent + '%' }"></div>
        <p class="percentage">{{ s.percent }}%</p>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</section>
