<section>
  <h3 class="section-title">4 - Hard & Soft Skills</h3>
  <div class="grid-container">
    <div *ngFor="let s of skills" class="card">
      <img [src]="BASE_URL + s.image_url" alt="" class="rounded skills-img" />
      <h5 class="card__title">{{ s.technology }}</h5>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          aria-label="Animated striped example"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: s.percent + '%' }"
        >
          {{ s.percent }}%
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</section>
