h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

.container {
  width: 70vw;
  height: fit-content;
  height: fit-content;
  position: relative;
  background: #222831;
  border-radius: 10px;
  padding: 3rem;
  margin: 3rem 0;
}

.contacts-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  justify-items: center;
  row-gap: 2rem;
  margin: 3rem 0;
}

.contact-item {
  height: fit-content;
  /* width: 100%; */
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #0000008d;
  box-shadow: 0 0 10px #0003;
}

.admin-controls {
  display: flex;
  position: absolute;
  /* bottom: -3rem; */
  top: -1.5rem;
  right: -1rem;
}

.contact-img {
  height: 5rem;
  width: 5rem;
}

.contact-name {
  color: #fff;
  margin-top: 0.5rem;
}

.done-btn {
  width: 40%;
  padding: 0.5rem 0.7rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
  box-shadow: 0 0 20px #000a;
  margin-left: 30%;
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90vw;
    padding: 2rem;
  }

  .contacts-display {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
}
