<main>
  <!-- <h1>Adminnn</h1> -->
  <!-- <div *ngIf="isNewSkillsModalOpen" class="modal">
    <app-skills-modal
      (onSubmit)="handleCreateSkill($event)"
      (onClose)="handleClose()"
      title="Create skill"
    ></app-skills-modal>
  </div>

  -->
  <!-- <app-skills-modal
    (onSubmit)="handleUpdateSkill($event)"
    (onClose)="handleClose()"
    title="Create skill"
  ></app-skills-modal> -->

  <app-hero></app-hero>
  <about-section></about-section>
  <experience-section></experience-section>
  <education-section></education-section>
  <skills-section></skills-section>
  <projects-section></projects-section>
</main>
