<section>
  <app-section-title number="3" title="Educacion"></app-section-title>
  <div *ngFor="let e of education" class="card">
    <img [src]="e.image_url" [alt]="e.title" />
    <div class="card-body">
      <h5>{{ e.title }}</h5>
      <p class="card-text">
        {{ e.institute }}
      </p>
      <p class="text-muted">
        <small>
          ( {{ e.started_at | date : "MMM yyy" }} -
          {{ e.end_at | date : "MMM yyy" }}
          {{ !e.end_at ? "present " : "" }})
        </small>
      </p>
    </div>
  </div>
</section>
